<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="de.netalic.falcon">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:icon="@drawable/icon_alpha"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_alpha"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name=".view.RegistrationActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".view.PhoneConfirmationActivity"
            android:parentActivityName=".view.RegistrationActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.RegistrationActivity"/>
        </activity>

        <activity
            android:name=".view.AuthenticationDefinitionActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".view.RecoveryEmailActivity"
            android:parentActivityName=".view.PhoneConfirmationActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".view.DashboardActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".view.ChargeAmountActivity"
            android:parentActivityName=".view.ChargeActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ChargeActivity"/>
        </activity>

        <activity android:name=".view.ChargeActivity"/>

        <activity
            android:name=".view.ChargeConfirmationActivity"
            android:parentActivityName=".view.ChargeAmountActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ChargeAmountActivity"/>
        </activity>

        <activity android:name=".view.ChargeFailedActivity"/>

    </application>
</manifest>